body{
    margin: 0;
    padding: 0;
}

img{
    opacity: .5;
    transition: 1s;
}
img:hover{
    opacity: .8;
  
}

.close1{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    background-color: red;
    padding: 10px;
    font-size: xx-large;
    font-weight: bolder;
    color: #fff;
    padding: 50px;
    float: right;
    cursor: pointer;
}